<!DOCTYPE html>

<html lang="en-us" >
<head>
<title>Agrega tu empresa a Smart Connection</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />


<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/urlify.js"></script>
<script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>

<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class=" app-scapp-form"
  

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
    
        
<h1 id="site-name"><a href="/admin/">Smart Connection Form</a></h1>

    </div>
        
 
    <!-- END Header -->
    
<div class="breadcrumbs">
<a href="/admin/">Home</a>
&rsaquo; <a href="/admin/scapp/">Scapp</a>
&rsaquo; <a href="/admin/scapp/posts/">Postss</a>
&rsaquo; Add posts
</div>

   

    <!-- Content -->
    <div id="content" class="colM">
        
        <h1>Add posts</h1>
        <div id="content-main">



<form enctype="multipart/form-data" action="" method="post" id="posts_form" novalidate><input type='hidden' name='csrfmiddlewaretoken' value='E72Qxc3CMh5KxCbFOlzPYcC7uaaKu5fMLsxSeTzZRm1jsFFr3R5Ck5T3SEaO4aSp' />
<div>







  <fieldset class="module aligned ">
    
    
    
        <div class="form-row field-first_name">
            
            
                <div>
                    
                    
                        <label class="required" for="id_first_name">First name:</label>
                        
                            <input type="text" name="first_name" class="vTextField" maxlength="30" required id="id_first_name" />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-last_name">
            
            
                <div>
                    
                    
                        <label class="required" for="id_last_name">Last name:</label>
                        
                            <input type="text" name="last_name" class="vTextField" maxlength="30" required id="id_last_name" />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-company_name">
            
            
                <div>
                    
                    
                        <label class="required" for="id_company_name">Company name:</label>
                        
                            <input type="text" name="company_name" class="vTextField" maxlength="30" required id="id_company_name" />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-country">
            
            
                <div>
                    
                    
                        <label class="required" for="id_country">Country:</label>
                        
                            <input type="text" name="country" class="vTextField" maxlength="30" required id="id_country" />
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-company_descr">
            
            
                <div>
                    
                    
                        <label class="required" for="id_company_descr">Company descr:</label>
                        
                            <textarea name="company_descr" cols="40" rows="10" class="vLargeTextField" required id="id_company_descr">
</textarea>
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-company_field">
            
            
                <div>
                    
                    
                        <label class="required" for="id_company_field">Company field:</label>
                        
                            <input type="text" name="company_field" class="vTextField" maxlength="30" required id="id_company_field" />
                        
                    
                    
                </div>
            
        </div>
    
</fieldset>













<div class="submit-row">
<input type="submit" value="Save" class="default" name="_save" />


<input type="submit" value="Save and add another" name="_addanother" />
<input type="submit" value="Save and continue editing" name="_continue" />
</div>



    <script type="text/javascript"
            id="django-admin-form-add-constants"
            src="/static/admin/js/change_form.js"
            
                data-model-name="posts"
            >
    </script>




<script type="text/javascript"
        id="django-admin-prepopulated-fields-constants"
        src="/static/admin/js/prepopulate_init.js"
        data-prepopulated-fields="[]">
</script>


</div>
</form></div>

        
        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
