<!DOCTYPE html>

<html lang="en-us" >
<head>
<title>Agrega tu empresa a Smart Connection</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />


<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/urlify.js"></script>
<script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>

<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class=" app-scapp-form"
  

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
    
        
<h1 id="site-name"><a href="/login/">Smart Connection Form</a></h1>

    </div>
        
 
    <!-- END Header -->
       

    <!-- Content -->
    <div id="content" class="colM">
        
        
        <div id="content-main">



<form enctype="multipart/form-data" action="" method="post" id="posts_form" novalidate><input type='hidden' name='csrfmiddlewaretoken' value='E72Qxc3CMh5KxCbFOlzPYcC7uaaKu5fMLsxSeTzZRm1jsFFr3R5Ck5T3SEaO4aSp' />
<div>


  <fieldset class="module aligned ">
    
    
    
        <div class="form-row field-user_name">
            
            
                <div>
                    
                    
                        <label class="required" for="id_username">User name:</label>
                        
                            <input type="text" name="username" class="vTextField" maxlength="30" required id="id_user_name" />
                        
                    
                    
                </div>
            
        </div>
    
        
        <div class="form-row field-password">
            
            
                <div>
                    
                    
                        <label class="required" for="id_password">Password:  </label>
                        
                            <input type="text" name="password" class="vTextField" maxlength="30" required id="id_password" />

                        
                    
                    
                </div>
            
        </div>
    
        
</fieldset>













<div class="submit-row">
<input type="submit" value="Log in" class="default" name="_save" />


</div>



    <script type="text/javascript"
            id="django-admin-form-add-constants"
            src="/static/admin/js/change_form.js"
            
                data-model-name="posts"
            >
    </script>




<script type="text/javascript"
        id="django-admin-prepopulated-fields-constants"
        src="/static/admin/js/prepopulate_init.js"
        data-prepopulated-fields="[]">
</script>


</div>
</form></div>

        
        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
